#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #3e3f58aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* App.css */

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 32px;
  color: #c76363;
}

.stat-summary {
  margin-bottom: 20px;
}

.stat-card {
  background-color: #d34d4d;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}

.filter {
  margin-bottom: 20px;
}

.filter input[type="text"],
.filter select {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter button:hover {
  background-color: #0056b3;
}

/* List.css */

.list-table {
  width: 100%;
  border-collapse: collapse;
}

.list-table th,
.list-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.list-cell.title {
  font-weight: bold;
}

.list-row:hover {
  background-color: #c65f5f;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


ul {
  list-style-type: none;
}

.home-link 
{
  padding: 0.5em;
  margin-right: 10px;
  border: 1px solid #2dc56c;
  border-radius: 8px;
}